extends layout

block content
  .userBar
    img(src="#{user.picture}")
    h2 #{user.name} si želi
    a(href='/logout').logout Logout
  .inputForm
    form(action='/user/wish',method='post')
      textarea(id='wish',name='wish',disabled='disabled') #{wish}