extends layout

block content
  .userBar
    img(src="#{user.picture}")
    h2 Welcome #{user.nickname}
    a(href='/logout').logout Logout
  .inputForm
    form(action='/user/wish',method='post')
      textarea(id='wish', value='#{wish}',name='wish')
      input(type='submit',value='Update')
