body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.userBar {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: #222;
  color: #fff;
}
.userBar > * {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: normal;
}
.userBar > img {
  height: 30px;
  width: auto;
  border-radius: 30px;
}
.logout {
  float: right;
  background: #c00;
  color: #fff;
  padding: 5px 8px;
  border-radius: 20px;
  cursor: pointer;
}
  
.inputForm {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 40px;
}
.inputForm textarea {
  height: calc(100% - 30px);
  width: 100%;
}
.inputForm input {
  display: block;
  height: 25px;
  background: #1a6aed;
  border-radius: 20px;
  margin: 2px;
  width: calc(100% - 10px);
  border: none;
}
